@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300;400;500&display=swap");

.parent {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.posts {
  background: #181818;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

button {
  width: 255px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 45px;
  background: #181818;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

button:hover {
  background: #ffe100;
  color: #000;
}
