@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin: auto;
}

.wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
}

input,
textarea {
  width: 277px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f5f5;
  border: 0;
  padding: 10px 33px 11px 33px;
  outline: 0;
}

input::placeholder,
textarea::placeholder {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.block_4 {
  button {
    width: 255px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #181818;
    border: 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.block_1,
.block_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.underWrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.underWrapper-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
  .block_3 textarea {
    text-align: left;
    display: block;
    width: 638px;
    height: 80px;
    flex-shrink: 0;
    padding: 10px 34px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .block_4 {
    button:hover {
      background: #ffe100;
      color: #000;
    }
  }
}
