.MainPart2 {
  display: block;
  background: #ffffff;
  padding: 40px 0 0;

  @keyframes button {
    0% {
      background: #4caf4f;
    }
    25% {
      background: #469f48;
    }
    50% {
      background: #439745;
    }
    75% {
      background: #419343;
    }
    100% {
      background: #3f8f41;
    }
  }

  .first-block {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    padding: 0 144px;
    h2 {
      color: #4d4d4d;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
    }
    p {
      margin-top: 8px;
      color: #717171;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    ul {
      padding: 25px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      img {
        // width: 40px;
        // height: 40px;
      }
    }
  }
  .second-block {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
    h2 {
      width: 542px;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      color: #4d4d4d;
      text-align: center;
    }
    p {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: #717171;
      margin-bottom: 16px;
    }
  }
  .third-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 144px;
    .card-1,
    .card-2,
    .card-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 299px;
      padding: 24px 32px;
      border-radius: 8px;
      box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    }
    img {
      width: 65;
      height: 56;
    }
    h3 {
      color: #4d4d4d;
      width: 267px;
      height: 72px;
      margin-top: 16px;
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
    }
    p {
      margin-top: 8px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #717171;
      text-align: center;
      width: 240px;
    }
    .card-3 {
      h3 {
        width: 231px;
      }
    }
    .card-1,
    .card-3 {
      p {
        width: 251px;
      }
    }
  }
  .fourth-block {
    margin-top: 42px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 144px;
    column-gap: 49px;
    .left-side {
      img {
        width: 442px;
        height: 433px;
      }
    }
    .right-side {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-right: 60px;
      h2 {
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        color: #4d4d4d;
        width: 601px;
      }
      p {
        color: #717171;
        margin: 16px 0 32px;
        width: 601px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      button {
        padding: 14px 32px;
        text-align: center;
        background: #4caf4f;
        color: #ffffff;
        border-radius: 4px;
        border: 0;
      }
    }
  }
  .fifth-block {
    background: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 144px;
    .left-side {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      row-gap: 8px;
      h2 {
        width: 408px;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        color: #4d4d4d;
        span {
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 44px;
          color: #4caf4f;
        }
      }
      p {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #18191f;
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      column-gap: 30px;
      row-gap: 40px;
      .block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 16px;
        .text-block {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          h3 {
            width: 191px;
            color: #4d4d4d;
            font-family: Inter;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
          }
          p {
            width: 191px;
            color: #717171;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  .sixth-block {
    margin-bottom: 48px;
    margin-top: 48px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 144px;
    column-gap: 49px;
    .left-side {
      img {
        width: 441px;
        height: 433px;
      }
    }
    .right-side {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-right: 60px;
      h2 {
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        color: #4d4d4d;
        width: 601px;
      }
      p {
        color: #717171;
        margin: 16px 0 32px;
        width: 601px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      button {
        padding: 14px 32px;
        text-align: center;
        background: #4caf4f;
        color: #ffffff;
        border-radius: 4px;
        border: 0;
      }
    }
  }
  .seventh-block {
    background: #f5f7fa;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 32px 144px;
    .left-side {
      img {
        border-radius: 8px;
      }
    }
    .right-side {
      p {
        width: 748px;
        color: #717171;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      h4 {
        margin: 16px 0 8px;
        color: #4caf4f;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      }
      p.small {
        margin-bottom: 32px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #89939e;
      }
      .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 32px;
        ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          flex-shrink: 0;
          background: 0;
          border: 0;
          width: 207px;
          color: #4caf4f;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          img {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
  .eighth-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 144px;
    margin-bottom: 95px;
    .block-top {
      h2 {
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        color: #4d4d4d;
        text-align: center;
      }
      p {
        margin: 8px 0 16px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #717171;
        text-align: center;
        width: 628px;
      }
    }
    .block-cards {
      margin-bottom: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .card {
        position: relative;
        img {
          width: 368px;
          height: 286px;
        }
        .block {
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 80px);
          position: absolute;
          border-radius: 8px;
          padding: 16px;
          background: #f5f7fa;
          box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          row-gap: 16px;
          p {
            width: 285px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            color: #717171;
            text-align: center;
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            flex-shrink: 0;
            background: 0;
            border: 0;
            width: 207px;
            color: #4caf4f;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            img {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
  }
  .ninth-block {
    padding: 32px 0;
    background: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 32px;
    h1 {
      font-family: Inter;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 76px;
      color: #263238;
      width: 887px;
      text-align: center;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      flex-shrink: 0;
      margin-top: 32px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: #fff;
      border-radius: 4px;
      border: 0;
      background: #4caf4f;
      padding: 14px 32px 14px 32px;
      img {
        width: 16px;
        height: 16px;
      }
      button:hover {
        animation: button 1ms infinite;
      }
    }
  }
}
