$defaultColor: #f5f7fa;

@keyframes forButtons {
  0% {
    border-bottom: 2px #18191f00 solid;
  }
  100% {
    border-bottom: 2px #4caf4f solid;
  }
}

@keyframes forButtons1 {
  0% {
    border-bottom: 2px #4caf4f solid;
  }
  100% {
    border-bottom: 2px #18191f00 solid;
  }
}

@keyframes mainButtons {
  0% {
    background: #4caf4f;
  }
  100% {
    background: #253f2b;
  }
}

@keyframes mainButtons1 {
  0% {
    background: #253f2b;
  }
  100% {
    background: #4caf4f;
  }
}

@keyframes mainButtonsColor {
  0% {
    color: #4caf4f;
  }
  100% {
    color: #253f2b;
  }
}

@keyframes mainButtonsColor1 {
  0% {
    color: #253f2b;
  }
  100% {
    color: #4caf4f;
  }
}
.reg-pages {
  a {
    text-decoration: none;
  }
}

header {
  height: 100%;
  height: 84px;
  padding: 22px 105px 22px 105px !important;
  display: flex !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: $defaultColor;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    column-gap: 50px;
    a {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      background: 0;
      border: 0;
      color: #18191f;
      outline: 0;
      text-decoration: none;
      animation: forButtons1 0.5s forwards;
    }
    a:hover {
      animation: forButtons 0.5s forwards;
    }
  }
  .reg-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 14px;
    .header-button-1 {
      color: #4caf4f;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      border-radius: 6px;
      border: 0;
      display: flex;
      padding: 10px 20px;
      align-items: center;
      background: $defaultColor;
      animation: mainButtonsColor1 0.5s forwards;
    }
    .header-button-1:hover {
      animation: mainButtonsColor 0.5s forwards;
    }
    .header-button-2 {
      color: $defaultColor;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      border-radius: 6px;
      border: 0;
      display: flex;
      padding: 10px 20px;
      align-items: center;
      background: #4caf4f;
      animation: mainButtons1 0.5s forwards;
    }
    .header-button-2:hover {
      animation: mainButtons 0.5s forwards;
    }
  }
}
