@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat&family=Ubuntu:wght@300;400;500&display=swap");

* {
  font-family: "Inter", sans-serif !important;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
